html{
    font-size: 1.1em;
}

footer{
    position: relative;
    text-align: center;
    left: 0;
    bottom: 0;
    /*background-color: #ECDBBA;*/
    width: 100%;
}

#title{
    padding-top: 50px;
    height: 100px;
    text-align: center;
    border-bottom: inset;
}

body{
    padding: 0;
    margin: 0;
    background-color: #191919;
    color: white;
}

#base{
    background-color: #2D4263;
    text-align: center;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 100%;
    border-radius: 20px;
}

.helpText{
    font-size: 0.8em;
    text-align: left;
    margin-bottom: 25px;
    margin-top: 25px;
}

.helpText ul{
    border: 1px solid #191919;
    padding-bottom: 15px;
    padding-top: 15px;
}

.helpButton{
    padding: 5px 10px 5px 10px;
    margin-bottom: 10px;
}

.yearsWorkedPrompt{
    margin-top: 20px;
    margin-bottom: 20px;
}

.smallerText{
    font-size: 0.8em;
}

select{
    font-size: 1.2em;
}

.buttonStyles{
    height: 40px;
    width: 120px;
    border-radius: 25px;
    margin: 10px;
    background-color: greenyellow;
}
.buttonStyles:hover{
    background-color: green;
    cursor: pointer;
}

#orderDisplayTable{
    margin-left: auto;
    margin-right: auto;
}

table{
    border-collapse: collapse;
}

td, th{
    border: 1px solid white;
    text-align: left;
    padding: 8px;
  }
  
/*
tr:nth-child(even){
    background-color: #17263d;
}
*/

#bottomCenter{
    clear: both;
}

@media screen and (max-width: 1024px){
    #base{
        padding: 15px 0px 15px 0px;
    }
    
    #title{
        padding-top: 0px;
    }
}